name: Build PDF

on:
  push:
    paths:
      - '**.tex'
      - '**.bib'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
      - name: Upload PDF
        uses: actions/upload-artifact@v3
        with:
          name: paper
          path: main.pdf
